:root {
  font-size: 62.5%;
}
img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0.5px 0.35px 20px 1px gray;
}
/*------color-scheme ------*/
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  text-shadow: 2px 3px 2px gray;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Vidaloka', serif;
  margin: 5px;
}
h2 {
  font-size: 20px;
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
}
h3 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}
p {
  font-size: 13px;
  font-size: 1.3rem;
}
body {
  display: flex;
  justify-content: center;
  padding: 1vh 10vw 1vh 10vw;
  background-size: contain;
  padding: 5px auto 5px auto;
  background: #A64826;
  margin-bottom: 25px;
}
body .container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 80vw;
  font-family: "Trebuchet MS", arial;
  box-shadow: 5px 2px 30px 3px rgba(0, 0, 0, 0.4);
}
body .container .header {
  display: flex;
  align-items: center;
  border: 2px ridge black;
  width: 80vw;
  height: 15vh;
  justify-content: space-around;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0.5px 0.35px 20px 1px gray;
  background: linear-gradient(165deg, #972F00 15%, rgba(239, 238, 238, 0.94) 68%);
}
body .container .header .p1 {
  display: flex;
  flex-direction: column;
}
body .container .header .p2 {
  display: flex;
  justify-content: space-around;
}
body .container .header .p2 .nav {
  margin: auto 15px auto 15px;
}
body .container .smile {
  align-self: center;
}
body .container .profile {
  align-self: center;
  transition: all 1.5s ease-in-out;
  opacity: 0.9;
  margin: 10px;
}
body .container .profile:hover {
  align-self: center;
  transition: all 1.5s ease-in-out;
  opacity: 1;
}
body .container .main-columns {
  display: flex;
  justify-content: flex-start;
  border: 2px ridge rgba(100, 100, 125, 0.45);
  width: 80vw;
}
body .container .main-columns .left-column {
  display: flex;
  flex-direction: column;
  flex-basis: 0.5;
  border: 2px ridge rgba(100, 100, 125, 0.45);
  margin-top: 10px;
  background: #e39c83;
}
body .container .main-columns .right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 1.5;
  border: 2px ridge rgba(100, 100, 125, 0.45);
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  background: #e39c83;
}
body .container .main-columns .right-column .history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: linear-gradient(165deg, #972F00 15%, rgba(239, 238, 238, 0.94) 68%);
}
body .container .main-columns .right-column .history .c_text1 {
  width: 30%;
  flex-basis: 1;
}
body .container .main-columns .right-column .history .c_text2 {
  width: 30%;
  flex-basis: 1;
}
body .container .main-columns .right-column .history .c_text3 {
  width: 30%;
  flex-basis: 1;
}
body .container .main-columns .right-column .icons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .container .main-columns .right-column .icons li {
  list-style: none;
  transform: scale(1);
  transition: all 1s ease-in-out;
}
body .container .main-columns .right-column .icons li:hover {
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}
/*----------Gallery------------*/
.gallery {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.gallery img {
  border: none;
}
.background {
  position: relative;
  max-width: 30vw;
}
/*----------Contact------------*/
.social_contact {
  text-decoration: none;
  color: #fff;
  font-size: 105px;
  font-size: 10.5rem;
  background: #000;
  border-radius: 3px;
}
.social_contact:hover {
  color: #000;
  background: #fff;
}
.form {
  margin-top: 45px;
}
.form input,
.form textarea {
  padding: 9px;
  margin: 5px;
  border: 1px solid #ccc;
  outline: 0;
  color: #999;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 90%;
}
.form textarea {
  width: 90%;
  margin: 5px;
  height: 60px;
  line-height: 150%;
  min-height: 60px;
  max-height: 60px;
  background: #A64826;
}
.form .button:hover,
.form textarea:hover,
.form .button:focus,
.form textarea:focus {
  border-color: #999;
}
.form .button {
  width: 90%;
  margin: 5px;
  cursor: pointer;
  background: linear-gradient(165deg, #972F00 15%, rgba(239, 238, 238, 0.94) 68%);
  border: none;
  font-size: 4vh;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
}
.form .button input:hover {
  background: #666;
  color: #FFF;
}
.form .contact_text {
  width: 330px;
}
.progress-bar {
  background-color: #111;
  height: 16px;
  width: 320px;
  margin: 0 0 20px;
  box-shadow: 2.5px 1.35px 20px 1px black;
}
.progress-bar span {
  display: inline-block;
  height: 100%;
  background-color: #F60;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
}
.green span {
  background-color: #6C3;
}
.orange span {
  background-color: #F60;
}
.red span {
  background-color: red;
}
