/*-------Mix-Ins ------------*/
:root {
  font-size: 62.5%;
}
img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0.5px 0.35px 20px 1px gray;
}
/*------color-scheme ------*/
